.profile__edit-button {
  border: 1px solid white;
  background-image: url(../../../images/Profile__button_edit.svg);
  background-size: 7.5px, 7.5px, cover;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    background-size: 10px, 10px, cover;
    padding: 11px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
