.profile__add-button {
  width: 100%;
  height: 50px;
  border: 2px solid white;
  background-image: url(../../../images/Profile__button.svg);
  background-size: 16px 16px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    width: 150px;
  }
}
