.element__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  margin: 0;
  padding: 0;
  min-width: 18px;
  min-height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  cursor: pointer;
  background-image: url(../../../images/Trash.png);
}

.element__trash:hover {
  opacity: 0.6;
}
